.gemini .constellation-pathgroup,
.hercules .constellation-pathgroup,
.ursa-major .constellation-pathgroup,
.orion .constellation-pathgroup {
  /* filter: url('#glowing'); */
}

.constellation__path {
  stroke-dasharray: var(--constellation-segment-length);
  stroke-dashoffset: var(--constellation-segment-length);
  animation: constellationPathAnimate var(--constellation-segment-duration, 2s) linear forwards;
  animation-delay: var(--constellation-segment-delay, 0);
}

@keyframes constellationPathAnimate {
  0% {
    stroke-dashoffset: var(--constellation-segment-length);
  }

  100% {
    stroke-dashoffset: 0;
  }
}