.animated-path-normalized {
  --total-duration: 5s;
  --ratio: var(--path-length)/var(--constellation-total-length);
  --start-ratio: var(--path-previous-length)/var(--constellation-total-length);
  --duration: calc(var(--total-duration) * var(--ratio));

  stroke-dasharray: var(--path-length);
  animation: dashAnimation linear var(--duration) 1 backwards;
  animation-delay: calc(var(--start-ratio) * var(--total-duration));
}