.red-path {
  --path-length: 100;
  stroke-dasharray: var(--path-length);
  animation: dashAnimation 5s infinite backwards;
}

@keyframes dashAnimation {
  0% { stroke-dashoffset: var(--path-length); }
  100% { stroke-dashoffset: 0; }
}