@keyframes revealPathAnimation {
  0%, 100% {
    stroke-dasharray: var(--path-length);
  }

  0% {
    stroke-dashoffset: var(--path-length);
  }

  100% {
    stroke-dashoffset: 0;
  }
}

.your-path {
  --path-length: 100;
  animation: revealPathAnimation 5s infinite backwards;
}

