.shooting-star__shape {
  visibility: hidden;
}

.shooting-star.is-shooting .shooting-star__shape {
  visibility: visible;
  animation:
    shootingStarOrbit 2s linear infinite,
    shootingStarBurn 2s linear infinite;
}

@keyframes shootingStarBurn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes shootingStarOrbit {
  0% {
    transform:
        rotate(var(--shooting-orbit-angle-start, 0deg))
        translate(var(--shooting-orbit-radius, 100px), 0);
  }

  100% {
    transform:
        rotate(var(--shooting-orbit-angle, 180deg))
        translate(var(--shooting-orbit-radius, 100px), 0);
  }
}

